body{
    background: #0B0B0B;
}

.App{
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.Navbar{
    color: white;
    display: flex;
}


.ImageGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));

    overflow-y: scroll;

    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px;
}

.Image{
    position: relative;
    padding-top: 100%;
}

.ImageInner{
    position: absolute;
    top: 0;
    height: 100%;
}

.ImageInner > img{
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

.UploadMain{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
}

.UploadShade{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: gray;
    opacity: .7;
}

.UploadControls{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#FloatingImageBackground {
    background: rgba(255,255,255,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#FloatingImageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85%;
}

#FloatingImage {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.FloatingImageLabel {
    text-align: center;
}

.FloatingImageDescription {
    text-align: center;
}
