.App{
    height: 100vh;

    display: flex;
    flex-direction: column;
}


.ImageGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));

    overflow-y: scroll;
}

.Image{
    position: relative;
    padding-top: 100%;
}

.ImageInner{
    position: absolute;
    top: 0;
    height: 100%;
}

.ImageInner > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#FloatingImageBackground {
    background: rgba(255,255,255,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#FloatingImageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#FloatingImage {
    display: block;
    margin: auto;
}

.FloatingImageLabel {
    text-align: center;
}

.FloatingImageDescription {
    text-align: center;
}
