/* Generic */

.App{
    background: #0B0B0B;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.Header{
    color: white;
    display: flex;
}

.Content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Footer{
    color: white;
}

/* ImageGrid */

.ImageGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px;
}

.Image{
    position: relative;
    padding-top: 100%;
}

.ImageInner{
    position: absolute;
    top: 0;
    height: 100%;
}

.ImageInner > img{
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

/* Upload */

.UploadMain{
    margin: auto;
}

.UploadControls{
    display: flex;
    flex-direction: column;
}

/* FloatingImage */

.FloatingImageContainer {
    margin: auto;
}

.FloatingImage {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.FloatingImageLabel {
    text-align: center;
}

.FloatingImageDescription {
    text-align: center;
}
